<template>
    <div id="app" class="app">
        <div class="container">
            <h1 class="title">Test work</h1>
            <p class="text">ID выбранного города:<br/> <span>{{ selectedCityId }}</span></p>
            <search-field
                title="Выберите город"
                :suggestions="cities"
                :loading="loading"
                v-model="query"
                @selected="setSelectedCity"/>

        </div>
    </div>
</template>

<script>
    import SearchField from './components/SearchField/SearchField'
    import { mapActions, mapState } from 'vuex'

    export default {
        name: 'App',
        components: {
            SearchField
        },
        data: () => ({
            query: ''
        }),
        created () {
            if (this.query)
                this.queryHandler(this.query)
        },
        computed: {
            ...mapState('citySearch', {
                cities: state => state.cities,
                selectedCityId: state => state.selectedCityId,
                loading: state => state.loading
            })
        },
        watch: {
            query (val) {
                this.queryHandler(val)
            }
        },
        methods: {
            ...mapActions('citySearch', {
                queryHandler: 'queryHandler',
                setSelectedCity: 'setSelectedCity'
            })
        }
    }
</script>

<style lang="scss">
    @import "./scss/vars";

    .app {
        display: flex;
        justify-content: center;
        height: 100vh;

        .container {
            width: 100%;
            max-width: 960px;
            padding: 100px $h-padding-offset 0;
        }

        .title, .text {
            margin-bottom: 1.5rem;
            text-align: center;
            line-height: 1.3em;
        }

        .text {
            span {
                display: inline-block;
            }
        }
    }
</style>
