//colors
$bg-color: #e5e5e5;
$primary-white: #fff;
$primary-grey: #e0e0e0;
$dark-grey: #a9a9a9;
$primary-black: #3d3d3d;
$primary-red: #a82538;

//Border radius
$border-radius: 3px;

//offsets
$h-padding-offset: 15px;
