<template>
    <div class="search" v-click-outside="blur">
        <label class="search__label" for="search-input">
            <span class="search__label-text">{{ title }}</span>
            <input type="text"
                   id="search-input"
                   class="search__input"
                   :value="value"
                   @keyup="changed"
                   @focus="isFocused = true"/>
            <span v-if="needSelectError"
                  class="search__input-warning">
                Необходимо выбрать вариант из списка
            </span>
            <icon name="search"
                  class="search__input-icon"
                  :scale="1.2"></icon>
            <span v-show="suggestionSelected"
                  class="search__clear-btn"
                  @click="clear">
                <icon name="times"></icon>
            </span>
        </label>
        <ul v-if="showSuggestions" class="search__suggestions-list"
            :class="{'search__suggestions-list_loading': loading}">
            <li v-for="suggestion in suggestions"
                :key="suggestion.id || 'empty'"
                class="search__suggestion"
                :class="{'search__suggestion_empty': !suggestion.id}"
                @click="selectSuggestion(suggestion)">
                <p class="search__suggestion-name">{{ suggestion.name }}</p>
                <p v-if="suggestion.displayText" class="search__suggestion-text">{{ suggestion.displayText }}</p>
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        name: 'SearchField',
        props: {
            value: {
                type: String,
                default: ''
            },
            title: {
                type: String,
                default: ''
            },
            suggestions: {
                type: Array,
                default: () => ([])
            },
            loading: {
                type: Boolean,
                default: false
            }
        },
        data: () => ({
            suggestionSelected: false,
            needSelect: false,
            isFocused: false,
        }),
        computed: {
            showSuggestions () {
                return this.isFocused && ((!this.suggestionSelected && this.suggestions.length) || this.loading)
            },
            needSelectError () {
                return this.needSelect && this.suggestions.length
            },
        },
        methods: {
            setValues (value = '', selected = '') {
                this.$emit('input', value)
                this.$emit('selected', selected)
                this.suggestionSelected = !!selected
            },
            changed (event) {
                this.setValues(event.target.value)
            },
            selectSuggestion (suggestion) {
                if (suggestion && suggestion.id) {
                    this.setValues(suggestion.name, suggestion.id)
                    this.needSelect = false
                    this.isFocused = false
                }
            },
            clear () {
                this.setValues()
                this.needSelect = false
            },
            blur () {
                if (!this.suggestionSelected && !!this.value) {
                    this.needSelect = true
                    this.isFocused = false
                }
            },
        }
    }
</script>

<style lang="scss">
    @import "./src/scss/vars";

    .search {
        position: relative;
        max-width: 320px;
        margin: 0 auto;
        padding: 0 $h-padding-offset;

        &__label {
            position: relative;
            display: flex;
            flex-direction: column;

            &-text {
                display: inline-block;
                margin-bottom: 3px;
                color: $dark-grey;
                font-size: .9rem;
            }
        }

        &__input {
            width: 100%;
            padding: 7px 10px 7px 40px;
            line-height: 1.6em;
            background-color: $primary-white;
            border: none;
            border-radius: $border-radius;
            outline: none;

            &:focus {
                box-shadow: 0 0 5px rgba(#000000, .1);
            }

            &-icon {
                position: absolute;
                bottom: 8px;
                left: 12px;
                color: $primary-grey;
            }

            &-warning {
                position: absolute;
                top: calc(100% + 3px);
                left: 0;
                color: $primary-red;
                font-size: .8rem;
            }
        }

        &__clear-btn {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            right: 3px;
            bottom: 3px;
            padding: 7px 9px;
            background-color: $primary-grey;
            border-radius: $border-radius;
            cursor: pointer;
        }

        &__suggestions-list {
            width: calc(100% - #{$h-padding-offset * 2});
            max-height: 300px;
            min-height: 40px;
            position: absolute;
            overflow-y: auto;
            top: calc(100% + 10px);
            left: $h-padding-offset;
            padding: 5px 0;
            background-color: $primary-white;
            border-radius: $border-radius;
            box-shadow: 0 5px 10px rgba(#000000, .2);

            &_loading {
                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background-color: rgba($primary-white, .5);
                }

                &:after {
                    content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAvElEQVQokZ3SMU6CQRDF8Z9fY2el3kAovQhWcgJ7E+NN8Cgk3sOEhijhAIQCqIzJgBmzfPksICwvmWb3/bMzO+8iInR0jVcM0CvHU4zxhmVrTbDUY0SsImJ3oNbF8+fvQtsj0L62ezhbvcEMV07TBncNnisgxfuSL37gvgJMTRL8xmUl+NNUAv/A6RngvCnLrdV7zniLr3PWscATdidA6Unvohu5YURsjqQm79rIHQr5A/r5e/jMmTBqQ45fVafEnlf8aPYAAAAASUVORK5CYII=");
                    position: absolute;
                    width: 3rem;
                    height: 1rem;
                    line-height: 1rem;
                    top: 50%;
                    left: 50%;
                    padding-left: 0;
                    transform: translate(-50%, -50%);
                    color: $primary-black;
                    font-size: 1rem;
                    border-radius: 10px;
                    background-color: rgba($primary-black, .2);
                    animation: preload infinite 2s;
                }

            }
        }

        &__suggestion {
            padding: 5px 10px;
            cursor: pointer;

            &:hover {
                background-color: darken($primary-white, 5%);
            }

            &_empty {
                cursor: default;

                &:hover {
                    background-color: inherit;
                }
            }

            &-text {
                color: $dark-grey;
                font-size: .9em;
            }
        }
    }

    @keyframes preload {
        0% {
            padding-left: 0;
        }
        50% {
            padding-left: 2rem;
        }
        100% {
            padding-left: 0;
        }

    }
</style>
